<% provide(:title, 'FAQs') %>

<h1>Frequently Asked Questions</h1>

<br>

<i><p>I found a broken link or a website discrepancy. Is there a webmaster I can contact?</i><br>
Yes: <a href="https://www.lcps.org/domain/14501" target="_blank">Gonzalo Gallardo</a> is developing this Ruby-on-Rails webapp, and can assist you if you encounter a broken link or error.</p>

<br>

<i><p>I have a question or comment regarding one of the current samples...</i><br>
Until we set up a dedicated discussion forum for these materials, please direct your inquiry to <a href="mailto:Angelica.Goetz@lcps.org?Subject=CPA%20website&cc=Suzette.Wyhs@lcps.org,Gonzalo.Gallardo@lcps.org">Angelica Goetz</a> and/or your curriculum lead teachers.</p>

<br>

<i><p>After perusing this website, I'm not sure how to grade one of my current student's CPAs. How can I get a second opinion?</i><br>
Promoting this type of discussion is what this site is all about! In addition to consulting with a mentor or a trusted colleague for a second opinion, you can get in touch with your language's curriculum leaders and <a href="mailto:Angelica.Goetz@lcps.org?Subject=CPA%20calibration%20question&cc=Suzette.Wyhs@lcps.org,Gonzalo.Gallardo@lcps.org">Angelica Goetz</a>.</p>

<br>

<i><p>I'm getting an error message when trying to sign in...</i><br>
This website relies on cookies to authenticate and safeguard user credentials. Please make sure you have cookies enabled in your browser's settings (under Privacy & Security).</p>

<br>

<i><p>Can someone email me my password if I ever forget it?</i><br>
No: all passwords are encrypted upon creation, and no one ever has access to password information other than the user. Like with any website, make sure to use memorable, safe passwords. If you forget your credentials, you can request a password change by clicking "Forgot your password?" on the login page--check your email and spam folder for password reset instructions.</p>

<br>

<i><p>I'd like to see some of my students' work up here. How can I upload it?</i><br>
To facilitate its pilot rollout, this website is designed so that a small number of admin users upload student samples. Please get in touch with your language's curriculum leaders about providing samples for this site.</p>

<br>

<i><p>How can I find out who the student is that submitted one of the samples, and who their teacher is?</i><br>
These samples are intended to be anonymous submissions.</p>

<br>

--> grading how-to info <br>

Within each language, samples are organized by level, mode, and score.