<% provide(:title, 'FAQs') %>

<h1>Frequently Asked Questions</h1>

<br>

<i><p>I found a broken link or a website discrepancy. Is there a webmaster I can contact?</i><br>
Yes: <a href="https://www.lcps.org/domain/14501" target="_blank">Gonzalo Gallardo</a> is developing this Ruby-on-Rails webapp, and can assist you if you encounter an error.</p>

<br>

<i><p>I have a question or comment regarding one of the current samples...</i><br>
You can check out current discussions in this site's <%= link_to "Forum", simple_discussion_path %>. You can otherwise direct sample inquiries to <a href="mailto:Angelica.Goetz@lcps.org?Subject=CPA%20website&cc=Suzette.Wyhs@lcps.org,Gonzalo.Gallardo@lcps.org">Angelica Goetz</a> and to your curriculum lead teachers.</p>

<br>

<i><p>After perusing this website, I'm not sure how to grade one of my current student's CPAs. How can I get a second opinion?</i><br>
Promoting this type of discussion is what this site is all about! In addition to consulting with a mentor or a trusted colleague, you can get in touch with your language's curriculum leaders and <a href="mailto:Angelica.Goetz@lcps.org?Subject=CPA%20calibration%20question&cc=Suzette.Wyhs@lcps.org,Gonzalo.Gallardo@lcps.org">Angelica Goetz</a>. You can also post questions in our dedicated site <%= link_to "Forum", simple_discussion_path %>!</p>

<br>

<i><p>I'm getting an error message when trying to sign in...</i><br>
This website relies on cookies to authenticate and safeguard user credentials. Please make sure you have cookies enabled in your browser's settings (under Privacy & Security).</p>

<br>

<i><p>Can someone email me my password if I forget it?</i><br>
No: all passwords are encrypted upon creation, and no one has access to password information other than the user. Like with any website, make sure to use memorable, safeguarded passwords. If you forget your credentials, you can request a password change by clicking "Forgot your password?" on the login page (check your email and spam folder for instructions).</p>

<br>

<i><p>I'd like to see some of my students' work up here. How can I upload it?</i><br>
To facilitate its pilot rollout, this website is designed such that a small number of admin users upload samples. Please get in touch with your language's curriculum leaders about providing samples for this site.</p>

<br>

<i><p>How can I find out who the student is that submitted one of the samples, or who their teacher is?</i><br>
These samples are intended to be anonymous submissions.</p>

<br>

<i><p>What are the general procedures to conduct CPAs in LCPS?</i><br>
Students are assessed CPAs for Speaking and Writing in all 4 quarters (Interpersonal Speaking & Writing in Q1-Q2; Presentational Speaking & Writing in Q3-Q4). To administer CPAs:<br>
<ol>
  <li>Use your LCPS Vision credentials to log into your <a href="https://vision.lcps.org/course/view.php?id=1457&section=36" target="_blank">curriculum materials by language</a>. Gather all pertinent prompts, supporting audiovisual files, rubrics, and score sheets.</li>

  <li>Account for enough grading time when administering written CPAs.</li>

  <li>Speaking CPAs can be conducted face-to-face individually, or using recording software (like Audacity on a laptop, or a mobile device's voice-memo app).</li>

  <li>Follow the instructions you obtained from Vision for the specific assessment you'll be conducting.</li>

  <li>To score CPAs, print and use the rubrics available in the <a href="https://vision.lcps.org/mod/book/view.php?id=714165" target="_blank">Teacher Resource Guide</a>. Circle the score for each domain and add the total points: the accompanying chart allows you to convert the points to a percentage score. You do not need to write comments on Written CPAs!</li>

  <li>Enter the percentage score to the relevant column in Phoenix, and/or as directed by your school.</li>

  <li>Each student should receive their scores (as shown in the rubric) along with any additional feedback. Students are expected to be familiar with the rubrics ahead of the assessment!</li>
</ol>
</p>

<br>

<i><p>How can I prepare my students ahead of administering the CPA?</i><br>
Consider as an example the video below, where Dr. Tripp DiNicola explains Interpersonal Speaking activities to his students at BRHS.</p>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kDztRQuWE7o" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<br>

<p>Back to <%= link_to('main', root_path) %>.</p>