<% provide(:title, 'Welcome') %>

<h1>Loudoun County Public Schools</h1><br>
<h2>World Languages & Cultures</h2>
<br>
<p>The LCPS World Languages & Cultures program administers performance-based Communicative Proficiency Assessments (CPAs) each quarter across languages and levels. This website contains representative graded student CPA submissions, intended to facilitate countywide grade calibration, and to promote collegial discussions about proficiency in the world language classroom.</p>

<p>A team of curriculum leaders curate the showcased submissions, which are organized by language, level, communicative mode, curricular theme, and score. In addition to perusing each sample (in either written, audio, or video format), users can also view the instructions that the student received, and the grader's comments.</p> 

<br>

<%= link_to('FAQs', welcome_faqs_path, :class => "btn btn-outline-info") %>

<br>
<% unless user_signed_in? %>    
  <br>
  <p>You are not signed in. <%= link_to('Log in', new_user_session_path) %> to access this resource.</p>
<% else %>
  <br>
  <%= link_to('CPA Samples', samples_path, :class => "btn btn-outline-primary" ) %>
  <br><br>
<% end %>

<% if current_user.try(:admin?) %>
  <p class="text-success">You have admin rights <i class="far fa-smile"></i></p>
  <%= link_to 'New Sample', new_sample_path, :class => "btn btn-outline-success" %>
<% end %>
