<br>

<div class="container">
  <% unless user_signed_in? %>
    <h2>You are not signed in :(</h2>
  <% else %>
    <h1>The journey of a thousand miles begins with a single step :)</h1>     
  <% end %>
</div>

